header {
  position: static;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 7rem;
  width: auto;
  padding-top: 1.5rem;
  padding-bottom: 0.8rem;
  background-color: #911808;
  box-shadow: 3px 3px 3px black;
  z-index: 1;
}

header > h1 {
  color: white;
  font-family: Tomatoes;
  font-weight: lighter;
  font-size: 3.5rem;
  margin: 0px;
  padding: 0px;
  padding-top: 1rem;
  z-index: 1;
  text-shadow: 2px 2px 2px black;
  cursor: default;
}

.tomatillo-container {
  position: absolute;
  height: 4rem;
  width: 4rem;
}

.tomatillo-container > img {
  transform: rotate(30deg);
  height: 9.5rem;
  width: 9.5rem;
  margin-top: -1.3rem;
  margin-left: -1.5rem;
  opacity: 90%;
  z-index: 0;
}
